.header {
  height: 56px;
  z-index: 5;
  background-color: var(--bg-opacity);
  backdrop-filter: blur(25px) saturate(150%) brightness(1.1);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, backdrop-filter 0.5s;

  &.hide {
    transform: translateY(-100%);
  }
}
.header-logo {
  padding: 0.5em;
  display: inline-block;
}

.more-button {
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
}
.link-group {
  a {
    color: inherit;
  }
  .anchor-ball {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: currentColor;
    transition: all 0.3s;
    bottom: 8px;
    opacity: 0.3;
  }
  &:hover .anchor-ball {
    opacity: 1;
    background-color: var(--yellow);
    border-radius: 3px;
    width: 3rem;
    height: 2px;
    transform: translateX(-50%);
  }
}

.nav-container {
  height: 4rem;

  & > .head-swiper {
    transition: transform 0.5s;
  }
  &.toggle {
    & > .head-swiper {
      transform: translateY(-100%);
    }

    .head-info {
      overflow: hidden;
      flex-shrink: 1;

      .desc {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-shrink: 1;

        > div {
          position: relative;
          animation: swipe-up 0.5s ease-in-out forwards;
          bottom: -5rem;
        }
        > div:nth-child(1) {
          opacity: 0;
        }

        > div:nth-child(2) {
          opacity: 0.5;
          animation-timing-function: ease;
        }
      }

      @keyframes swipe-up {
        to {
          opacity: 1;
          bottom: 0;
        }
      }
    }
  }
}
.head-info {
  height: 4rem;
  display: flex;
  align-items: center;

  .meta {
    color: var(--gray);
    font-size: 0.8rem;
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .title {
    font-weight: 500;
    margin: 0;
    color: var(--black);
    font-size: 1.2rem;
    line-height: 1.5;
    flex-shrink: 1;
    white-space: nowrap;
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.site-info {
  color: #aaa;
}

.swiper-metawrapper {
  max-width: 65em;
  margin: auto;
}

.sub-dropdown {
  width: 130px;
  left: -50%;
  top: 4rem;
  z-index: 19;
  position: absolute;
  // transform: perspective(600px) rotateX(-20deg);

  opacity: 0;
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
  visibility: hidden;
  &.active,
  &:hover {
    opacity: 1;
    visibility: visible;
    // transform: perspective(0) rotateX(0);
  }

  a {
    position: relative;
    display: block;
  }
}

.fake-header {
  z-index: 4;
  background: unset;
  box-shadow: unset;
  backdrop-filter: unset;
}

.right-wrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
