:root {
  --red: #ff6347;
  --yellow: #ffc107;
  --blue: #6495ed;
  --green: #39c5bb;
  --brown: #795548;
  --light-brown: #67492e;
  --purple: #8a2be2;
  --light-bg: #fff;
  --light-font: #fff;
  --shallow: #eee;
  font: 14px/1.15 Arial, Helvetica, noto sans sc, pingfang sc, hiragino sans gb,
    microsoft yahei, 'sans-serif';
}
body {
  padding-top: 4em;
  background: url(https://gitee.com/xun7788/my-imagination/raw/master/cdn/background.png)
    top center fixed;
  background-color: var(--light-bg);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: var(--light-bg);
}
::-webkit-scrollbar-thumb {
  background: #ffc107;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff9800;
}
::-webkit-scrollbar-corner {
  background: var(--light-bg);
}
a {
  color: #28b9be;
}
h1 {
  font-weight: 500;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
blockquote {
  font-style: normal;
}
.btn {
  border-radius: 1em;
}
.btn i {
  margin-right: 0;
}
.btn.brown {
  color: #fff;
  background: #795548;
  background: var(--brown);
}
.btn.black {
  color: #fff;
  background: #010101;
}
code {
  color: brown;
  background-color: #faebd7;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  outline: none;
  cursor: pointer;
}
article img {
  border-radius: 0.5em;
}

html.light {
  --red: #ff6347 !important;
  --yellow: #ffc107 !important;
  --blue: #6495ed !important;
  --green: #28b9be !important;
  --brown: #795548 !important;
  --light-brown: #67492e !important;
  --purple: #8a2be2 !important;
  --light-bg: #fff !important;
  --light-font: #fff !important;
  --shallow: #eee !important;
  color: inherit;
}
html.light body {
  background: url(https://gitee.com/xun7788/my-imagination/raw/master/cdn/background.png)
    top center fixed !important;
}
html.light img {
  filter: brightness(1) !important;
}
html.dark {
  color: #ddd !important;
  --red: #ad1a00 !important;
  --blue: #1346a4 !important;
  --green: #1f8f93 !important;
  --yellow: #806000 !important;
  --brown: #c6aa9f !important;
  --light-brown: #bc9c8f !important;
  --purple: #561494 !important;
  --light-bg: #111 !important;
  --light-font: #ddd !important;
  --shallow: #333 !important;
}
html.dark body {
  background: #000
    url(https://gitee.com/xun7788/my-imagination/raw/master/cdn/background-night.png)
    top center fixed !important;
}

html.dark img {
  filter: brightness(0.6) !important;
}
body * {
  transition: color 0.1s ease-in, background 0.1s ease-in, border 0.1s ease-in;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    color: #ddd;
    --red: #ad1a00;
    --blue: #1346a4;
    --green: #1f8f93;
    --yellow: #806000;
    --brown: #c6aa9f;
    --light-brown: #bc9c8f;
    --purple: #561494;
    --light-bg: #111;
    --light-font: #ddd;
    --shallow: #333 !important;
  }
  body {
    background: #000
      url(https://gitee.com/xun7788/my-imagination/raw/master/cdn/background-night.png)
      top center fixed;
  }
  img {
    filter: brightness(0.6);
  }
}
html.dark .header-top-navbar {
  backdrop-filter: saturate(150%) blur(30px);
}
main {
  margin: 0 auto;
  max-width: 75em;
  padding: 5em 2em;
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
  min-height: calc(100vh - 10vw - 7.75em);
  visibility: visible;
}

main.loading {
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}

main.is-article {
  max-width: 50em;
}
main.is-gallery {
  max-width: 90em;
}

@media screen and (max-width: 900px) {
  main {
    padding: 3em 1.25em;
  }
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5em;
  justify-content: center;
}
.navigation a {
  display: block;
  padding: 0.45em 1em;
  color: currentColor;
  margin-bottom: 0.5em;
}
.navigation a.active {
  color: #fff;
  border-radius: 2em;
  background: #28b9be;
  background: var(--green);
}
.kami-intro {
  display: flex;
  margin-bottom: 5em;
}
.kami-intro p,
.kami-intro .paragraph {
  color: #aaa;
}
.kami-intro img {
  border-radius: 66%;
}
.kami-intro .intro-avatar {
  flex: 0 0 9em;
  max-width: 9em;
  margin-right: 2em;
}
.kami-intro .social-icons {
  display: flex;
  font-size: 1.2em;
  user-select: none;
  margin-top: 1.25em;
}
.kami-intro .social-icons a {
  margin-right: 1em;
  display: inline-block;
}
.kami-intro .social-icons a:last-child {
  margin-right: 0;
}
.kami-intro .social-icons svg {
  width: 1em;
}
@media screen and (max-width: 600px) {
  .kami-intro {
    flex-direction: column;
  }
  .kami-intro .intro-avatar {
    margin: 0 auto 1.5em;
  }
  .kami-intro .intro-info {
    text-align: center;
  }
  .kami-intro .social-icons {
    justify-content: center;
  }
}
.kami-news .news-item {
  margin-bottom: 5em;
}
.kami-news .news-item:last-child {
  margin-bottom: 0;
}
.news-head h3 {
  color: #fff;
  font-weight: 700;
  position: relative;
  border-radius: 0.5em;
  display: inline-block;
  background: var(--purple);
  padding: 0.7em 2em 0.7em 4em;
}
.news-head.red h3 {
  background-color: tomato;
  background-color: var(--red);
}
.news-head.blue h3 {
  background-color: #6495ed;
  background-color: var(--blue);
}
.news-head.grey h3 {
  background-color: #a9a9a9;
}
.news-head a {
  color: inherit;
  display: block;
  padding: 0.6em 1em;
}
.news-head .title i {
  top: 0;
  left: 0;
  padding: 1rem 1em;
  position: absolute;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.1);
}
.news-head .more {
  padding: 0;
  float: right;
  transform-origin: top;
}
.news-body .note-box {
  color: #fff;
  padding: 1em;
  height: 100%;
  position: relative;
  border-radius: 1em;
  background: #ff9987;
}
.news-body .content {
  margin-bottom: 3em;
}
.news-body .date {
  left: 1em;
  bottom: 1em;
  position: absolute;
}
.news-article,
.news-project {
  color: #fff;
  display: block;
  min-height: 8em;
  overflow: hidden;
  border-radius: 1em;
  background: #bbb;
}
.news-article {
  position: relative;
}
.news-article h4 {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: rgba(0, 0, 0, 0.5);
}
.news-project {
  text-align: center;
}
.news-project h4 {
  padding: 0.75em;
  position: relative;
  background: #505050;
}
.news-article img,
.news-project img {
  transition: transform 0.5s;
}
.news-article:hover img,
.news-article:focus img,
.news-project:hover img,
.news-project:focus img {
  transform: scale(1.25) rotate(10deg);
}
article {
  color: #67492e;
  color: var(--light-brown);
}
.post-title {
  margin-bottom: 5em;
}
.post-title h2 {
  color: #aaa;
  font-size: 1.2em;
}
article > h1 {
  margin-top: 5em;
}
article > h1:first-child,
h1.headline {
  margin-top: 0;

  &::before {
    content: '';
    padding-left: 0.75em;
    border-left: 2px solid #ffc107;
  }
}

article > h1:hover small {
  opacity: 1;
}
article > h1 small {
  color: #bbb;
  opacity: 0;
  transition: opacity 0.3s;
  vertical-align: text-bottom;
}
.is-article {
  position: relative;
}

.note-content {
  margin-bottom: 1em;
}
.note-content p {
  line-height: 2;
}
.note-media {
  display: grid;
  grid-gap: 1em;
  margin-bottom: 1em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}
.note-media img {
  width: 100%;
  height: 10em;
  object-fit: cover;
}
.note-media img:only-child {
  height: auto;
}
.note-media img:first-child:nth-last-child(2),
.note-media img:first-child:nth-last-child(2) ~ img {
  height: 15em;
}
@media screen and (max-width: 600px) {
  .note-media {
    display: block;
    overflow: auto;
    padding: 0 1.25em;
    margin: 1em -1.25em;
    white-space: nowrap;
  }
  .note-media::-webkit-scrollbar {
    height: 0;
  }
  .note-media img {
    width: auto;
    max-width: none;
    margin-right: 1em;
  }
  .note-media img:last-child {
    margin-right: 0;
  }
  .note-media img:only-child {
    width: 100%;
    height: auto;
  }
}
.note-content video {
  width: 100%;
  border-radius: 0.5em;
}
.note-content pre > code {
  max-height: 25em;
}
.kami-note .note-inform,
.kami-note .note-action {
  color: #888;
  text-align: right;
  user-select: none;
  font-weight: normal;
}
.kami-note .note-inform {
  float: left;
}
.kami-note .note-action a {
  color: inherit;
}
.kami-note .note-inform span {
  cursor: pointer;
  margin-right: 1em;
}
.kami-note .note-action span {
  cursor: pointer;
  margin-left: 1em;
  position: relative;
}
.kami-note .note-inform span:before,
.kami-note .note-action span:before {
  margin-right: 0.5em;
}

.note-navigator {
  margin-top: 2em;
  text-align: center;
}
.kami-more {
  margin-top: 2em;
  text-align: center;
}
.kami-more .fa-spinner {
  animation: rotate 1.5s linear infinite;
}

.kami-project {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}
.kami-project .gallery-item {
  padding-top: 80%;
}
.project-list {
  text-align: center;
}
.project-list a {
  color: inherit;
  display: block;
  transition: transform 0.5s cubic-bezier(0.36, 1.1, 0.2, 1.2);
}
.project-list a:hover {
  transform: translateY(-0.5em);
}
.project-list h3,
.project-list h4 {
  margin-top: 1rem;
}
.project-list img {
  border-radius: 30%;
  transition: box-shadow 0.3s;
}
.project-list a:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.2);
}
.project-head img {
  float: left;
  max-width: 10em;
  margin-right: 2em;
  border-radius: 30%;
}
.project-head:after {
  content: '';
  clear: both;
  display: block;
}
.project-head .btn {
  border-radius: 6em;
}
.project-head,
.project-screenshot {
  margin-bottom: 3em;
}
.project-screenshot {
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 1em;
}
.project-screenshot img {
  max-height: 20em;
  margin-right: 1em;
}
.project-screenshot img:last-child {
  margin-right: 0;
}
@media screen and (max-width: 600px) {
  .project-head img {
    max-width: 6em;
  }
  .project-head p:last-child {
    margin-top: 2em;
  }
}
.bangumi-item {
  height: 0;
  color: #fff;
  display: block;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding-bottom: 130%;
  transition: transform 0.3s, box-shadow 0.3s;
}
.bangumi-item:hover {
  color: #fff;
  transform: translateY(-0.5em);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.2);
}
.bangumi-item img {
  width: 100%;
}
.bangumi-item h4 {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 0.3s;
  transform: translateY(2.5em);
  background: rgba(0, 0, 0, 0.5);
}
.bangumi-item:hover h4 {
  transform: translateY(0);
}
.bangumi-status {
  background: rgba(0, 0, 0, 0.6);
}
.bangumi-status,
.bangumi-status p {
  position: relative;
}
.bangumi-status p {
  margin-top: 0.75em;
}
.bangumi-status-bar {
  top: 0;
  bottom: 0;
  max-width: 100%;
  position: absolute;
  background: crimson;
}

.player {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: #fff;
  color: var(--light-font);
  padding: 1em;
  position: fixed;
  background: #3c3c3c;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  backface-visibility: hidden;
  transition: opacity 0.3s, transform 0.3s;
}
.action {
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
  bottom: calc(1rem + env(safe-area-inset-bottom));
  width: 2.25em;
  position: fixed;
  font-size: 1.2em;
  transition: bottom 0.3s;
}
.action button {
  width: 2.25em;
  height: 2.25em;
  color: #795548;
  color: var(--brown);
  margin-top: 0.5em;
  background: #fff;
  background: var(--light-bg);
  border-radius: 66%;
  transition: transform 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 20px rgba(0, 0, 0, 0.2);
}
.action .top {
  transform: scale(0);
}
.action .top.active {
  transform: scale(1);
}
footer {
  color: #fff;
  color: var(--light-font);
  position: relative;
  padding: 10vw 0 2em;
}
footer:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: -1;
  position: absolute;
  background: url(https://gitee.com/xun7788/my-imagination/raw/master/cdn/footer.png)
    top/cover;
}
@media screen and (max-width: 600px) {
  footer {
    padding: 5em 0 2em;
  }
  footer:before {
    background-size: 150%;
  }
}
footer a {
  color: inherit;
}
html.dark footer::before {
  filter: brightness(0.6) !important;
}
@media screen and (prefers-color-scheme: dark) {
  footer:before {
    filter: brightness(0.6);
  }
}
