.player.hide {
  transform: translateX(-100%);
}

.player {
  @apply fixed z-10 bottom-0 left-0;

  bottom: calc(0px + env(safe-area-inset-bottom));
  transform: translateX(0);
  transition: transform 0.5s;
}

.root {
  @apply rounded-lg;
}

.cover {
  height: 66px;
  width: 66px;

  @apply relative bg-gray bg-opacity-80 rounded-r-lg rounded-b-lg  overflow-hidden;
}

.control-btn {
  @apply absolute top-0 left-0 right-0 bottom-0 z-10 text-white;
  @apply shadow-lg cursor-pointer transition-all;

  font-size: 35px;

  & > svg {
    @apply shadow-2xl absolute transform -translate-x-1/2 -translate-y-1/2 transition-all duration-500;

    top: 50%;
    left: 50%;

    filter: drop-shadow(0px 0px 6px black);
  }
}

.control-btn.is-play {
  font-size: 24px;

  @apply justify-end items-end;

  & > svg {
    top: calc(80%);
    left: calc(80%);
  }
}

.cover:hover + .tip,
.tip:hover {
  @apply opacity-100;
}

.tip {
  @apply absolute top-0 bottom-0 whitespace-nowrap truncate;
  @apply flex flex-col justify-around py-3 cursor-pointer;
  @apply transition-opacity opacity-0 duration-300;

  margin-left: 66px;
  padding-left: 1.5em;
  min-width: 150px;
  max-width: calc(50vw - 66px);

  & > p {
    @apply m-0 leading-6;
  }
}
