.select-container {
  width: 30px;
  height: 80vh;
  position: fixed;
  top: -10vh;
  right: 3rem;
  transition: top 0.5s;
  z-index: 0;
  // z-index: 3;
}
.select-line {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .line {
    width: 3px;
    height: 100%;
    background-image: -webkit-linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.6) 25%,
      transparent 0,
      transparent 50%,
      hsla(0, 0%, 100%, 0.6) 0,
      hsla(0, 0%, 100%, 0.6) 75%,
      transparent 0,
      transparent
    );
    background-color: #f78fb3;
    background-size: 100% 60px;
    border-radius: 12px;
    background-repeat: repeat;
  }
}

.sakura-wrap {
  animation: rotating 2s infinite linear;

  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.sakura-img {
  background-image: url('https://gitee.com/xun7788/my-imagination/raw/master/uPic/1631274283927.png');
  height: 24px;
  width: 24px;
  background-size: cover;
  left: 50%;
  // transform: translateX(-48%);
}
